@tailwind base;
@tailwind components;
@tailwind utilities;

.header-section {
  background: linear-gradient(168deg, #777c82 -114.74%, #0b0909 91.35%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="range"] {
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #f5f6f8;
}
